[Unit]
Description=MXWest VPN Link Watchdog Timer
Requires=mxwest-watchdog.service

[Timer]
# Run every 30 seconds for critical monitoring
OnBootSec=30
OnUnitActiveSec=30
AccuracySec=5s

[Install]
WantedBy=timers.target

